<!doctype html>
<html lang="pt-bt">

<head>
    <title>ProgramEM Inscrição</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--APLICACAO DE CSS-->
    <link rel="stylesheet" href="inscricao.css">
    <!--FONTES GOOGLE-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/guia.png">
</head>

<body>
    <!--INICIO NAV-->
    <!--LOGO-->
    <div class="row">
        <div class="col"></div>
        <div class="col-">
            <img class="logoprogramem" src="logo.png">
        </div>
        <div class="col"></div>
    </div>
    <!--INICIO DE MENU-->
    <div id="header">
        <div id="menu" class="container">
            <ul>
                <li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
                <li><a href="#" accesskey="1" title="">Sobre</a></li>
                <li><a href="#" accesskey="2" title="">Inscrição</a></li>
                <li><a href="#" accesskey="3" title="">Contato</a></li>
                <li><a href="#" accesskey="4" title="">Area do Aluno</a></li>
            </ul>
        </div>
    </div>
    <!--FIM NAV-->
    <!--TITULO DA PAGINA-->
    <div class="row">
        <div class="col"></div>
        <div class="col-" id="titulo">
            <p><b>ÁREA DE INSCRIÇÃO</b></p>
        </div>
        <div class="col"></div>
    </div>
    <!--COMEÇO DE CONTEUDO-->
    <!--fotinha-->
    <div class="row">
        <div class="col-">
            <img class="rounded float-left," id="imagem1" style="width: 550px;" src="inscriboneco.png">
        </div>
        <!---->
        <div class="col">
            <p id="p1">
                Você não precisa ter nenhuma experiência prévia em programação, apenas ser estudante do EM de
                escola pública ou ter se formado em escola pública em 2020!<br><br>Porém, pedimos uma dedicação de
                <b>35 horas</b> por semana, e o engajamento de vocês. Já que serão nossa primeira turma, vamos também
                pedir que vocês nos contem tudo o que está funcionando ou não no nosso curso e nos ajudem a melhorar
                cada vez mais!
            </p>
        </div>
    </div>
    <!--INICIO FORMULARIO-->
    <div class="formulario, container" id="formulario">
        <form action="/insere">
            <!--Informações Gerais-->
            <div class="informacoesGerais">
                <div class="form-group">
                    <label class="form-label">Nome:</label>
                    <input class="form-control" name="nome" placeholder="Seu nome completo">
                </div>
                <div class="form-group">
                    <label class="form-label">Email:</label>
                    <input class="form-control" name="email" placeholder="Seu email">
                </div>
                <div class="form-group">
                    <label class="form-label">Data de Nascimento:</label>
                    <input class="form-control" name="dataDeNascimento" type="date" value="2000-01-01">
                </div>
                <div class="form-group">
                    <label class="form-label">Número:</label>
                    <input class="form-control" name="numero" placeholder="Ex: (61)98425-6732">
                </div>
                <div class="form-group">
                    <label class="form-label">Estado</label>
                    <input class="form-control" name="estado" placeholder="UF">
                </div>
                <div class="form-group">
                    <label class="form-label">Cidade</label>
                    <input class="form-control" name="cidade" placeholder="Sua cidade">
                </div>
            </div>

            <!--Informações Pessoais SELECT BOX-->
            <div class="informacoesPessoais">
                <div class="opcoes">Identidade de gênero</div>
                <select name="identidadeDeGenero" class="custom-select">
                    <option selected>Escolha uma opção</option>
                    <option value="1">Gênero Fluido</option>
                    <option value="2">Mulher Cisgênero</option>
                    <option value="3">Mulher Transgênero</option>
                    <option value="4">Homem Cisgênero</option>
                    <option value="5">Homem transgênero</option>
                    <option value="6">Prefiro não responder</option>
                    <option value="7">Outr@</option>
                </select>
                <!---->
                <div class="opcoes">Orientação sexual</div>
                <select name="orientacaoSexual" class="custom-select">
                    <option selected>Escolha uma opção</option>
                    <option value="1">Assexual</option>
                    <option value="2">Bissexual</option>
                    <option value="3">Homossexual</option>
                    <option value="4">Pansexual</option>
                    <option value="5">Outr@</option>
                    <option value="6">Prefiro não responder</option>
                </select>
                <!---->
                <div class="opcoes">Identidade Étnico-racial</div>
                <select name="identidadeEtnico" class="custom-select">
                    <option selected>Escolha uma opção</option>
                    <option value="1">Amarela</option>
                    <option value="2">Branca</option>
                    <option value="3">Indígena</option>
                    <option value="4">Parda</option>
                    <option value="5">Preta</option>
                    <option value="6">Outr@</option>
                    <option value="7">Prefiro não responder</option>
                </select>
            </div>

            <!--Escolaridade-->
            <div class="escolaridade">
                <div class="opcoes">Modalidade de ensino médio</div>
                <select name="modalidade" class="custom-select">
                    <option selected>Escolha uma opção</option>
                    <option value="1">1º Ano</option>
                    <option value="2">2º Ano</option>
                    <option value="3">3º Ano</option>
                    <option value="4">4º Ano (Escola Técnica)</option>
                    <option value="5">Me formei em 2020</option>
                </select>
                <div class="opcoes">Ano</div>
                <select name="ano" class="custom-select">
                    <option selected>Escolha uma opção</option>
                    <option value="1">EM regular - estudo integral</option>
                    <option value="2">EM regular - estudo meio período</option>
                    <option value="3">EM técnico - estudo em escola técnica</option>
                </select>
            </div>

            <!--PROGRAMAÇÃO CHECKBOX 1-->
            <div class="programacao">
                <br>
                <p><b>Já tinha interesse por programação?</b></p>
                <div class="form-check">
                    <input id="opcss" class="ustom-control-input" type="radio" name="interesseProgramacao"
                        value="opcao1">
                    <label id="opcss" class="ustom-control-input" for="interesseProgramacao">Já tinha muito
                        interesse</label>
                </div>
                <div class="form-check">
                    <input id="opcss" class="ustom-control-input" type="radio" name="interesseProgramacao"
                        value="opcao2">
                    <label id="opcss" class="ustom-control-input" for="interesseProgramacao">Tinha Interesse</label>
                </div>
                <div class="form-check">
                    <input id="opcss" class="ustom-control-input" type="radio" name="interesseProgramacao"
                        value="option3">
                    <label id="opcss" class="ustom-control-input" for="interesseProgramacao">Nunca tinha pensado nisso
                        antes</label>
                </div>
                <br>
                <!--CHECKBOX 2-->
                <p><b>Já estudou programação?</b></p>
                <div class="form-check">
                    <input id="opcss" class="ustom-control-input" type="radio" name="estudoPrevio" value="opcao1">
                    <label id="opcss" class="ustom-control-input" for="estudoPrevio">Sim, sei mexer bastante</label>
                </div>
                <div class="form-check">
                    <input id="opcss" class="ustom-control-input" type="radio" name="estudoPrevio" value="opcao2">
                    <label id="opcss" class="ustom-control-input" for="estudoPrevio">Sim, já vi alguns códigos</label>
                </div>
                <div class="form-check">
                    <input id="opcss" class="ustom-control-input" type="radio" name="estudoPrevio" value="opcao3">
                    <label id="opcss" class="ustom-control-input" for="estudoPrevio">Não sei nem por onde
                        começar</label>
                </div>
                <br>
                <!--FIM CHECKBOX-->
                <p>Qual e sua disponibilidade de horário para fazer o curso?</p>
                <select name="disponibilidade" class="custom-select">
                    <option selected>Escolha uma opção</option>
                    <option value="1">De manhã (de segunda a sexta)</option>
                    <option value="2">De tarde (de segunda a sexta)</option>
                    <option value="3">De noite (de segunda a sexta)</option>
                    <option value="4">Sábado o dia todo</option>
                    <option value="5">Domingo o dia todo</option>
                    <option value="6">Todas as opções</option>
                </select>
                <div class="form-group">
                    <br>
                    <label>Porque você se interessou em fazer o programEM?</label>
                    <textarea name="interesseCurso" class="form-control" rows="3"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Enviar">
                <input class="btn btn-primary" type="reset" value="Reset">
            </div>
        </form>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>

</html>