<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>ProgramEM</title>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Google Fonts - font inter all-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/sobre/css/sobre.css">
</head>

<body>
    <!--INICIO NAV-->
    <div class="row">
        <nav class="navbar fixed-top" style="background-color: #ebebeb">
            <div class="col">
                <img style="width: 300px;" class="logoprogramem" src="/sobre/img/logo.png">
            </div>
            <div class="col-">
                <a href="/"><button type="button" class="botao">Home</button></a>
            </div>
            <div class="col-">
                <a href="/sobre"><button type="button" class="botao">Sobre</button></a>
            </div>
            <div class="col-">
                <a href="/inscricao"><button type="button" class="botao">Inscrição</button></a>
            </div>
            <div class="col-">
                <a href="/contato"><button type="button" class="botao">Contato</button></a>
            </div>
            <div class="col-">
                <a href="/areaDoAluno"><button type="button" class="botao" id="aluno">Área do aluno</button></a>
            </div>
        </nav>
        </nav>
    </div>
    <!--FIM NAV-->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <p class="titulohome">Conheça nosso currículo</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <h4 style="text-align:justify;" class="textochome">
                    <p>Você é estudante do Ensino Médio público, quer <b>aprender</b> lógica de programação até banco de dados de graça e <b>sem sair de casa?</b> Entre conosco nessa experiência! <b>Durante 2 Meses</b>, nós te ensinaremos programação e te ajudaremos a se preparar para o <b>mercado de trabalho.</b> </p><br>
                    <p><b>São 8 Módulos de hard skills</b> (Habilidades técnicas), que vão do básico de HTML ate implementação de várias linguagens no mesmo projeto, assim como, são abordadas as <b>soft skills</b> (Habilidades SocioEmocionais) que ajudam o jovem a se adaptar e conhecer melhor o ambiente de trabalho.</p><br>
                    <p>É pra quem? Você não precisa ter <b>nenhuma experiência</b> prévia em programação, apenas ser estudante do 3o EM de escola pública ou ter se formado em 2020!</p>
                    <br>
                    <br>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
                <div class="col-">
                    <h3>
                        <p>Lista de Conhecimentos</p>
                    </h3>
                </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Hard:</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Soft:</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Logica De Progamação</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Auto Conhecimento</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>HTML</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Comunicação</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>CSS</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Conexões</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>JavaScript</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Construção De Imagem Profissional</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Java</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Planejamento</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Java Web</p>
                </h4>
            </div>
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Sonhos e Caminhos</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>SQL</p>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 style="text-align:center;" class="textochome">
                <p>Como Funciona Entrevista de Emprego</p>
                </h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p><a href="#"><button type="button" class="botaotexto">INSCREVA-SE AGORA</button></a></p>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>